services:
  portfolio-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: portfolio-dev
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    command: npm run dev

  portfolio-prod:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: portfolio-prod
    ports:
      - "8080:3000"
    environment:
      - NODE_ENV=production
    command: npm start

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./config:/etc/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"

  promlens:
    image: prom/promlens
    ports:
      - 8080:8080