trigger:
  branches:
    include:
      - main

pool:
  vmImage: ubuntu-latest

variables:
  - name: TF_IN_AUTOMATION
    value: true
  - name: LOCATION
    value: canadacentral
  - name: RESOURCE_GROUP
    value: portfolio-rg

steps:
  - checkout: self

  - task: TerraformInstaller@1
    displayName: "Install Terraform"
    inputs:
      terraformVersion: '1.5.7'

  - task: AzureCLI@2
    displayName: "Run Terraform to provision infrastructure"
    inputs:
      azureSubscription: "azure-portfolio-connection"
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: |
        cd infra
        terraform init
        terraform plan -out=tfplan
        terraform apply -auto-approve tfplan
